#indexBody {
	background-color:#091914 ;
	text-align: center;
}
#name {
	color: white;
	font-family: "Courier New", monospace;
}
.title {
	width:1200px;
	height:200px;
	background-color: #dac0c1;
	font-size:40px;
	float: left;
	margin-left:200px;
}

#proDevLinks {
	width:1200px;
	height:515px;
	background-color: white;
	float: left;
	margin-left:200px;
}
a:link {
	color: rgba(120, 57, 66, 0.78);
	font-size:40px;
}
a:visited {
	color: #783942;
	font-size:40px;
}
